html,
body {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: white;
  padding: 20px;
  height: 100%; /* Set the height to 100% */
  box-sizing: border-box; /* Include padding in the height calculation */
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  flex-grow: 1; /* Allow the list to take up the remaining vertical space */
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

/* Add more styling as needed */
